body {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
div {
  margin: 150px auto;
  font-size: 5rem;
  font-weight: bold;
}

#red {
  color: red;
}

#green {
  color: green;
}